@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: #edf2f4;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.2);
}

.click:active {
    transform: scale(0.8);
}

/* NAVIGATION */

.landing {
    background-color: #8d99ae;
}

nav {
    height: 100px;
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navLinkList {
    display: flex;
    gap: 20px;
    top: 10%;
    padding: 0 50px;
    align-items: center;
}

.navLink {
    color: black;
}

.navMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.navTitle {
    font-size: 50px;
    padding-bottom: 20px;
}

.navButton {
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    color: white;
    background-color: #636BF8;
    transition: all 0.3s ease;
}

.navButton:hover {
    background-color: white;
    color: #4b54c8;
}

.movieSearch {
    border-radius: 50px;
    border: none;
    padding: 20px 30px;
    width: 350px;
}

.searchButton {
    color: #242424;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.searchWrapper {
    position: relative;
}

.searchWrapper input {
    font-size: 16px;
}

/* RESULTS */

.results {
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

/* MOVIE SELECTION */

.movieSelection {
    flex: 1;
    display: flex;
    padding-bottom: 125px;
}

.movieSelectionWrapper {
    width: 100%;
    max-width: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    flex: 1;
}

.movieList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.movie {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.movie img {
    width: 100%;
    height: 350px;
    border-radius: 6px;
    object-fit: cover;
}

.ratingDropdown {
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: #4b54c8;
    color: white;
}

.movieSelectionWrapper {
    position: relative;
}

.loadingState {
    background-color: #edf2f4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    visibility: hidden;
    display: none;
}

.loadingStateVisible {
    visibility: visible;
    display: flex;
}

.fa-spinner {
    animation: spinner 850ms infinite linear;
    
}

@keyframes spinner{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* FOOTER */

.footer {

}

.footerWrapper {
    width: 100%;
    max-width: 2000px;
    height: 100px;
    background-color: #8d99ae;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.links {
    display: flex;
    gap: 20px;
}

/* SCALING */

@media (max-width: 760px) {
    .movieList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}


@media (max-width: 480px) {
    .ratingRange {
        font-size: 15px;
    }
    .resultsTitle {
        font-size: 25px;
    }
    .movieList {
        display: flex;
        flex-direction: column;
    }
}
